*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../images/the-office-background.png');
    background-color: orange;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 3rem;
}

.description {
    font-weight: bold;
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80%;
    background-color: #fff;
    border-radius: 20px;
    padding: 4rem;
    opacity: 0.95;
}

.btn {
    background-color: #70BBDC;
    color: blue;
    padding: 1rem 10rem;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.btn-home {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0;
    max-width: 90%;
    min-width: 30rem;
}

.btn:hover {
    border: 2.5px solid orange;
    box-shadow: 2px 2px 2px orange;
}

/* extra styling to end page */

.btn-end {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0;
    max-width: 90%;
    min-width: 20rem;
}

.finalscore-prefix {
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}

.finalscore-text {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

/* media queries */

@media screen and (max-width: 600px) {

    .container {
        padding: 3rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .btn-home {
        font-size: 1rem;
        padding: 1rem 7rem;
        min-width: 7rem;
    }

    .btn-end {
        font-size: 1rem;
        min-width: 15rem;
    }

    .finalscore-text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 415px) {

    .container {
        padding: 2.5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .btn-home {
        font-size: 1rem;
        padding: 1rem 6rem;
        min-width: 6rem;
    }

    .btn-end {
        font-size: 1rem;
        min-width: 10rem;
    }

}